
  @import url('https://fonts.googleapis.com/css2?family=Gabarito:wght@400;800&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gabarito', cursive;
}
body{
    width: 100%;
    height: 100vh;
    background-color: black;

}

h1{
    color: rgb(255, 255, 255);
    text-align: center;
    padding-top: 5%;
}
main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 12px;
    margin: 70px auto;
    width: 500px;
    height: 580px;
}
.icon{
 
    color: black;
}
#img-capa{
    width: 100px;
    
   
    
}
.box-info{
margin-top: 20px;
}
.box-info ul{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: end;
    

}
.box-info ul li{
   list-style: none;
   background-color: rgb(248, 248, 248);
   color: rgb(129, 60, 236);
   border: none;
   border-radius: 3px;
   font-size: 1.5em;
   display: flex;
   justify-content: center;
   text-align: center;
   width: 300px;
   padding: 8px;
   margin: 10px 10px 0px 0px;
   transition: 0.3s;

}
.box-info ul li:hover{
    opacity: 0.80;
    color: white;
    background-color: rgb(129, 60, 236);
    
}
a{
    text-decoration: none;
}
@media (min-width: 400px) {
    main {
    width: 400px;
    height: 500px;
    margin-top: 100px;
    }
  }